/*
*
* align.css
* @author - Tamizharasu
* @date - 2NOv, 2022
**/




.head {
    background-color: rgb(198, 245, 252);
    border-radius: 10px;
    display: flex;
    padding: 20px;
    position: sticky;
    top: 0%;
    z-index: 10;

}

.header {
    font-size: 18px;
}

.button1 {
    text-decoration: none;
    color: black;
    padding-left: 50px;
    padding-top: 30px;
}

.button2 {
    background-color: #fd5800;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    left: 750px;
    border-radius: 12px;
}

.content {
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
}

.left {
    padding-left: 100px;
    padding-right: 70px;
    max-width: 400px;
}

.button3 {
    background-color: #ffffff;
    border: 1px solid orangered;
    color: rgb(127, 122, 122);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.button4 {
    background-color: #ff7801;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.right {
    padding-left: 200px;

}

.bgbanner {
    position: absolute;
    bottom: 200px;
    width: 60%;
    height: 80%;
    right: 0;
    z-index: 0;
}

.iframe {
    position: relative;
    bottom: 80px;
}

.content {
    display: flex;
    padding-top: 100px;
    padding-bottom: 50px;
}

.h5 {
    text-align: center;
    padding-bottom: 50px;
}

.image {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.inner-img1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.img1 {
    padding-left: 100px;
    display: flex;
}

.bg {
    padding-bottom: 50px;
}

.top {
    padding-left: 100px;
}

.function {
    padding-left: 100px;
}

.head1 {
    display: flex;
    flex-wrap: wrap;


}

.ticket {
    background-color: rgb(187, 176, 176);
    border-radius: 20px;
    padding: 25px 25px;
    text-align: center;
    margin-bottom: 25px;
    max-height: 220px;
}

.h4 {
    font-size: 16px;
    font-weight: 500;
    color: black;
    font-family: HeroNew500, sans-serif;
    margin: 0;
}

.img {
    max-width: 400px;
    padding-left: 80px;
}

.p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.h1 {
    color: black;
    font-size: 26px;
    margin: 0%;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 40px;
    font-family: HeroNew500, sans-serif;
    text-align: center;
}

.support {
    padding: 20px;
}

.action {
    padding: 20px;
    position: static;
    text-align: center;
}

.infom {
    display: flex;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 50px;
}

.ticket1 {
    text-align: center;
    border-radius: 16px 16px 0 0;
    cursor: pointer;
    box-shadow: 0 -13px 10px 0 #fafafa;
    background-color: #fafafa;
    padding: 30px 35px 88px 25px;
}

.active,
.ticket1:hover {
    box-shadow: 0 -13px 5px 0 rgb(0 0 0 / 8%);
    background-color: #fff;
    transition: 0.5s;
}

.ticket2 {
    text-align: center;
    border-radius: 16px 16px 0 0;
    cursor: pointer;
    box-shadow: 0 -13px 10px 0 #fafafa;
    background-color: #fafafa;
    padding: 30px 35px 88px 25px;
}

.active,
.ticket2:hover {
    box-shadow: 0 -13px 5px 0 rgb(0 0 0 / 8%);
    background-color: #fff;
    transition: 0.5s;
}

.ticket3 {
    text-align: center;
    border-radius: 16px 16px 0 0;
    cursor: pointer;
    box-shadow: 0 -13px 10px 0 #fafafa;
    background-color: #fafafa;
    padding: 30px 35px 88px 25px;
}

.active,
.ticket3:hover {
    box-shadow: 0 -13px 5px 0 rgb(0 0 0 / 8%);
    background-color: #fff;
    transition: 0.5s;
}

.ticket4 {
    text-align: center;
    border-radius: 16px 16px 0 0;
    cursor: pointer;
    box-shadow: 0 -13px 10px 0 #fafafa;
    background-color: #fafafa;
    padding: 30px 35px 88px 25px;
}

.active,
.ticket4:hover {
    box-shadow: 0 -13px 5px 0 rgb(0 0 0 / 4%);
    background-color: #fff;
    transition: 0.5s;
}

.content1 {
    font-size: 16px;
    font-weight: 500;
    color: black;
    font-family: HeroNew500, sans-serif;
    margin: 0%;
}

.acc-cnt {
    display: flex;
    padding-left: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.acc-img {
    padding-left: 100px;
}

.acc-1 {
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 100px;
}

.accordion {
    background-color: rgb(255, 255, 255);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.acc-cnt1 {
    display: flex;
    padding-left: 100px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-top: 50px;

}

.acc-img1 {
    padding-left: 100px;
    padding-top: 100px;

}

.acc-2 {
    padding-top: 50px;
    padding-right: 50px;
}

.accordion1 {
    background-color: rgb(255, 255, 255);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion1:hover {
    background-color: #ccc;
}

.accordion1:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel1 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.acc-cnt2 {
    display: flex;
    padding-left: 50px;
    padding-bottom: 50px;
}

.acc-img2 {
    padding-top: 100px;
    padding-right: 100px;
}

.acc-2 {
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 50px;
}

.accordion2 {
    background-color: rgb(255, 255, 255);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion2:hover {
    background-color: #ccc;
}

.accordion2:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel2 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


.acc-cnt4 {
    display: flex;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-right: 100px;
}

.acc-4 {
    padding-left: 100px;
    padding-top: 25px;
    padding-right: 100px;
}

.accordion4 {
    background-color: rgb(255, 255, 255);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion4:hover {
    background-color: #ccc;
}

.accordion4:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel4 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}



.acc-cnt3 {
    display: flex;
    padding-left: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.acc-3 {
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 100px;
}

.accordion3 {
    background-color: rgb(255, 255, 255);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion3:hover {
    background-color: #ccc;
}

.accordion3:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel3 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.acc-cnt5 {
    display: flex;
    padding-left: 50px;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-right: 100px;
}

.acc-5 {
    padding-left: 100px;
    padding-top: 25px;
    padding-right: 100px;
}

.accordion5 {
    background-color: rgb(255, 255, 255);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion5:hover {
    background-color: #ccc;
}

.accordion5:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel5 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.task {
    background-color: aliceblue;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
}

.client {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.happyfox {

    padding-top: 100px;
    text-align: left;
}

.sim {
    color: black;
    font-size: 25px;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 40px;
    font-family: HeroNew500, sans-serif;
}

.arrow {
    font-size: 16px;
    font-weight: 500;
    color: black;
    font-family: HeroNew500, sans-serif;
    margin: 0;
}

.a {
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.customer {
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.customer {
    padding-left: 100px;
}

.self {
    color: black;
    font-size: 26px;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 40px;
    font-style: HeroNew500, sans-serif;
    max-width: 600px;
    padding-top: 60px;
}

.build {
    margin-bottom: 0;
    max-width: 800px;
    font-size: 18px;
    padding-top: 10px;
}

.img2 {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding-left: 300px;
}

.head-cnt {
    padding-top: 50px;
    padding-bottom: 50px;
}

.img-l {
    position: relative;
    left: 150px;
}

.img-r {
    position: relative;
    left: 1400px;
}

.inner-h {
    width: 100%;
    padding-left: 150px;
    padding-right: 40px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    text-align: center;

}

.inner-img {
    margin-bottom: 20px;


}

.inner-h3 {
    max-width: none;
}

.inner-h5 {
    margin-bottom: 0%;

}

.inner-p {
    max-width: none;

}

.design {
    text-align: center;
    padding: 20px;
    padding-bottom: 50px;

}

.button7 {
    background-color: #ffffff;
    border: 1px solid orangered;
    color: rgb(127, 122, 122);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.button8 {
    background-color: #ff7801;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.footer {
    background-color: black;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.sub-footer {
    color: white;
    padding-left: 170px;
}

.footer-li {
    padding-top: 10px;
    font-size: small;
}

.sub-footer1 {
    color: white;
    padding-left: 170px;
}

.sub-footer2 {
    color: white;
    padding-left: 170px;
}

.sub-footer3 {
    color: white;
    padding-left: 170px;
}

.a {
    color: rgb(156, 156, 156);
    text-decoration: none;
}

.icon {
    display: flex;

}

.footer-icon {
    background-color: black;
    padding-left: 250px;
    padding-bottom: 20px;
}

.icon-img {
    padding-left: 50px;
    color: rgb(170, 170, 170);
    text-decoration: none;
}

.english {
    background-color: black;
    padding: 20px;
    display: flex;
}

.terms {
    display: flex;
    padding-left: 20px;
}

.terms1 {
    display: flex;
    padding-left: 250px;

}

.icon-img1 {
    padding-left: 20px;
    text-decoration: none;
    color: rgb(180, 178, 178);
}

.copy {
    text-decoration: none;
    color: rgb(186, 181, 181);
    position: relative;
    left: 200px;
}

.youtube {
    padding-left: 30px;
}

.bgimg {
    background-image: url(./image/eneterrpise-cta-bg.png);
    background-size: cover;
    background-repeat: no-repeat;


}